.type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(47, 102, 86), rgb(2, 69, 145));
  }

  
  
  .title {
    margin-bottom: 20px;
    text-align: center;
    color: aliceblue;
  }
  
  .type-table {
    width: 100%;
    margin: 0 auto; /* Center horizontally */
  }
  
  .table-container {
    display: flex;
    justify-content: center;
  }

  
  